# legal_entity_company_verification

**Type:** object

## Fields

| Field | Type | Required | Description |
|-------|------|----------|-------------|
| `document` | [legal_entity_company_verification_document](legal-entity-company-verification-document.md) | Yes |  |

