# tls-certificates-and-hostnames_ownership_verification

This is a record which can be placed to activate a hostname.

**Type:** oneOf

## Composition

- (inline schema)
