# tls-certificates-and-hostnames_verification

**Type:** object

## Fields

| Field | Type | Required | Description |
|-------|------|----------|-------------|
| `brand_check` | [tls-certificates-and-hostnames_brand_check](tls-certificates-and-hostnames-brand-check.md) | No |  |
| `cert_pack_uuid` | [tls-certificates-and-hostnames_cert_pack_uuid](tls-certificates-and-hostnames-cert-pack-uuid.md) | No |  |
| `certificate_status` | [tls-certificates-and-hostnames_certificate_status](tls-certificates-and-hostnames-certificate-status.md) | Yes |  |
| `signature` | [tls-certificates-and-hostnames_schemas-signature](tls-certificates-and-hostnames-schemas-signature.md) | No |  |
| `validation_method` | [tls-certificates-and-hostnames_schemas-validation_method](tls-certificates-and-hostnames-schemas-validation-method.md) | No |  |
| `verification_info` | [tls-certificates-and-hostnames_verification_info](tls-certificates-and-hostnames-verification-info.md) | No |  |
| `verification_status` | [tls-certificates-and-hostnames_verification_status](tls-certificates-and-hostnames-verification-status.md) | No |  |
| `verification_type` | [tls-certificates-and-hostnames_verification_type](tls-certificates-and-hostnames-verification-type.md) | No |  |

