# SSL Verification

## Operations

| Method | Path | Summary | Details |
|--------|------|---------|----------|
| GET | `/zones/{zone_id}/ssl/verification` | SSL Verification Details | [View](../operations/ssl-verification-ssl-verification-details.md) |
| PATCH | `/zones/{zone_id}/ssl/verification/{certificate_pack_id}` | Edit SSL Certificate Pack Validation Method | [View](../operations/ssl-verification-edit-ssl-certificate-pack-validation-method.md) |
